/* styles.css */

body {
  font-size: 30px;
}

ul {
  cursor: default;
  list-style-type: none;
}


.arrow {
  cursor: pointer;
  user-select: none;
  margin-right: 10px;
}

.arrow::before {
  content: "▼"; /* Por padrão, a seta aponta para a direita */
}

.arrow.collapsed::before {
  content: "▶";
}

.arrow.expanded::before {
  content: "▼";
}

.hidden {
  display: none;
}

.folder {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.folder > ul {
  list-style-type: none;
  padding-left: 0;
}

.folder > ul > li {
  margin-left: 20px;
}

#reloadOptions {
  top: 0; /* Alinha no topo */
  right: 0; /* Alinha no canto superior direito */
  margin: 10px; /* Adiciona alguma margem para espaço */
  background-color: #f9f9f9; /* Cor de fundo */
  padding: 10px 20px; /* Espaçamento interno */
  border: 1px solid #ccc; /* Borda */
  border-radius: 4px; /* Borda arredondada */
  z-index: 1000; /* Garante que esteja acima de outros elementos */
}

/* Estilização adicional para a combobox */
#reloadSelect {
  padding: 5px 10px; /* Espaçamento interno */
  font-size: 16px; /* Tamanho da fonte */
  border: 1px solid #ccc; /* Borda */
  border-radius: 4px; /* Borda arredondada */
}


/* Estilo para a árvore principal */
#tree > ul > li {
  margin-bottom: 10px; /* Espaçamento entre os nós principais */
}




#sidebar {
  width: 50%;
  height: 100%;
  position: fixed;
  top: 0;
  right: -50%;
  background-color: #f4f4f4;
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: right 0.3s;
}

#sidebar.active {
  right: 0;
}

#sidebarTitle {
  margin-top: 0;
}

#sidebarContent {
  /* Estilos para o conteúdo da janela lateral */
}