/* styles.css */

body {
  font-size: 30px;
}

ul {
  cursor: default;
  list-style-type: none;
}


.arrow {
  cursor: pointer;
  user-select: none;
  margin-right: 10px;
}

.arrow::before {
  content: "▼"; /* Por padrão, a seta aponta para a direita */
}

.arrow.collapsed::before {
  content: "▶";
}

.arrow.expanded::before {
  content: "▼";
}

.hidden {
  display: none;
}

.folder {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.folder > ul {
  list-style-type: none;
  padding-left: 0;
}

.folder > ul > li {
  margin-left: 20px;
}

/* Estilo para a árvore principal */
#tree > ul > li {
  margin-bottom: 10px; /* Espaçamento entre os nós principais */
}




#sidebar {
  width: 35%;
  height: 100%;
  position: fixed;
  top: 0;
  right: -36%;
  background-color: #f4f4f4;
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: right 0.3s;
}

#sidebar.active {
  right: 0;
}

#sidebarTitle {
  margin-top: 0;
}

#sidebarContent {
  /* Estilos para o conteúdo da janela lateral */
}